{% include "base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-12 my-2">
            <div class="card mx-auto w-75">
                <div class="card-body">
                    <h5 class="card-title text-center">Tentang Pembuat Program</h5>
                    <p class="card-text">Sistem pakar ini dibuat untuk menentukan waktu belajar yang paling cocok untuk
                        mahasiswa. Sistem pakar ini dibuat berdasarkan penelitian yang dilakukan oleh:</p>
                    <ul>
                        <li>Muhammad Rizki Syafapri (12050110483)</li>
                        <li>M.Aziz Basten Syahputra (12050116175)</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}